<%-include('includes/head',{pagetitle:"An error occured"})%>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
    <%-include("includes/header") %>
    <main>
        <h1>Something went wrong!!</h1>
        <p>Unfortunately something went wrong, please try again !!</p>
        <p><a class="btn" href="/">Back to Safety</a></p>        
    </main>
</body>
</html>