<%-include('../../shared/includes/head',{pagetitle:"Add new product"})%>
<link rel="stylesheet" href="/styles/forms.css ">
<script src="/scripts/image-preview.js" defer></script>
</head>

<body>
    <%-include("../../shared/includes/header") %>
    <main>
        <h1>Add new product</h1>
        <%- include('includes/product-form', {submitPath: '/admin/products',product:{
            title:"",
            summary:"",
            price:"",
            description:""
        },imagerequired:true}) %>
    </main>
</body>
</html>